@use '../abstract' as a;

.card {
  display: grid;
  gap: 1.5rem;
  width: min(95%, 40em);
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 5px 5px 40px var(--clr-box-shadow);

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__star {
    width: 1.75rem;

    @include a.breakpoint(medium) {
      width: 2.5rem;
    }
  }
}